/src/CakeRelease/.build/CakeRelease/Cake/tools/*
/src/CakeRelease/CakeRelease/.build/CakeRelease/Cake/tools/*
/src/CakeRelease/.vs/*
/src/CakeRelease/CakeRelease/obj/*
/src/CakeRelease/node_modules/*
/src/CakeRelease/CakeRelease/bin/*
/src/CakeRelease/.build/CakeRelease/Semantic/Artifacts/*
/src/CakeRelease/CakeRelease/.build/CakeRelease/Semantic/Artifacts/*
/src/CakeRelease/CakeRelease/.build/CakeRelease/Semantic/docs/*
/src/CakeRelease/.build/CakeRelease/Semantic/.releaserc.js
/src/CakeRelease/CakeRelease/.build/CakeRelease/Semantic/.releaserc.js
