<?xml version="1.0" encoding="utf-8"?>
<package xmlns="http://schemas.microsoft.com/packaging/2010/07/nuspec.xsd">
  <metadata>
    <id></id>
    <title></title>
    <description></description>
    <authors></authors>
    <version>0.0.0.0</version>
    <readme>README.md</readme>
    <projectUrl></projectUrl>
  </metadata>
  <files>
    <!-- 
    Some examples, please set files and folders you want to be included in your package
    <file src="Controllers\" target="Controllers\" />
    <file src="nuspec" target=".nuspec" /> 
    -->
  </files>
</package>